body {
    display: block;
    margin-top: var(--nav_height);
    background-color: var(--bgcolor);
}

:root {
    font-size: var(--root_font_size);
}

::selection {
    color: var(--default_font_color);
    background: var(--color2);
}

@media only screen and (max-width: 991px) {
    :root {
        font-size: max(1.5vw, 9px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input.form-control,
input.btn-form,
textarea.form-control {
    font-family: var(--default_font);
    color: var(--default_font_color);
    margin-bottom: 0;
    transition-duration: 0.25s;
}

h1:not(a > h1),
h2:not(a > h2),
h3:not(a > h3),
h4:not(a > h4),
h5:not(a > h5),
h6:not(a > h6),
p:not(a > p) {
    cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
input.form-control,
input.btn-form,
textarea.form-control {
    font-weight: var(--header_font_weight);
}

body,
section,
div,
ul,
li,
a {
    transition-duration: var(--default_transition_duration);
}

h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 3rem;
}
/* h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.8rem;
}
h5,
.btn-form {
    font-size: 1.4rem;
} */

p {
    font-size: max(1.25rem, 14px);
}

.text-color1 {
    color: var(--color1);
}
.text-color2 {
    color: var(--color2);
}

.text-shadow,
.text-shadow > * {
    text-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

img {
    /* width: 100%; */
}

.hidden {
    visibility: hidden;
}

.col-bg-image {
    background-position: center;
    background-size: cover;
    /* height: 100%; */
    /* height: 400px; */
    background-repeat: no-repeat;
    overflow: hidden;
}

.image-block {
    left: 0;
    position: absolute;
    height: 100%;
    top: 0px;
    z-index: 2;
}

.background-image-holder {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
}

.bg-color-1 {
    background-color: var(--color1);
}
.bg-color-2 {
    background-color: var(--color2);
}
.bg-color-1 * {
    color: var(--bg_1_font_color);
}
.bg-color-2 * {
    color: var(--bg_2_font_color);
}

.width-fit-content {
    width: fit-content;
}

.height-fit-content {
    height: fit-content;
}

.v-padding-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.v-padding-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.h-padding-large {
    padding-left: 6rem;
    padding-right: 6rem;
}
.h-padding-small {
    padding-left: 6rem;
    padding-right: 6rem;
}
@media only screen and (min-width: 768px) {
    .h-padding-large-md {
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .h-padding-small-md {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

/* -------- Section -------- */

section {
    scroll-padding-top: var(--nav_height);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.margin-top-large {
    margin-top: 6rem;
}
.margin-bottom-large {
    margin-bottom: 6rem;
}
.margin-top-small {
    margin-top: 3rem;
}
.margin-bottom-small {
    margin-bottom: 3rem;
}

.section-title h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/*  End of Section  */

/* -------- Navbar -------- */

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    background-color: var(--nav_bgcolor);
    height: var(--nav_height);
    max-height: var(--nav_height);
    z-index: 100;
}

.navbar .container {
    background-color: var(--nav_bgcolor);
}

.navbar-brand img {
    max-height: 100%;
    width: auto;
    max-width: var(--nav_logo_max_size);
}

a.nav-link {
    color: var(--nav_text_color);
    /* text-transform: uppercase; */
    font-size: var(--nav_text_size);
}

a.nav-link:hover {
    color: var(--nav_text_color_hover);
}

.navbar-nav .nav-link {
    width: fit-content;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item.nav-button a.nav-link {
    background-color: var(--color2);
    color: white;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 2.5rem;
}

.navbar-toggler i {
    font-size: var(--nav_text_size);
}

.navbar-collapse.collapsing .nav-item,
.navbar-collapse.collapse.show .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-collapse.collapsing > ul.navbar-nav,
.navbar-collapse.collapse.show > ul.navbar-nav {
    margin-bottom: 1rem;
}

/*  End of Navbar  */

/* -------- Hero -------- */

section#hero {
    height: calc(100vh - var(--nav_height));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero > div {
    height: calc(100vh - var(--nav_height));
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5 {
    color: var(--hero_font_color);
}

/*  End of Hero */

/* Sub-hero */

.sub-hero {
    transform: translate(0px, -3rem);
}

/* Buttons */

a {
    /* color: var(--color2); */
    text-decoration: underline;
}

a:hover {
    color: var(--color2);
    cursor: pointer !important;
    text-decoration: none;
}

a:hover * {
    color: var(--color2);
}

a.btn {
    background-color: var(--color1);
    color: white;
    padding: 1.5rem;
    border-radius: 2.5rem;
}
a.btn.btn-color-2 {
    background-color: var(--color2);
}
a.btn:hover,
.nav-button > a.nav-link:hover {
    background-color: var(--color2);
}
a.btn.btn-color-2:hover,
.nav-button.btn-color-2 > a.nav-link:hover {
    background-color: var(--color1);
}
a.btn.btn-sm {
    padding: 0.8rem;
    border-radius: 2rem;
}
a.btn.btn-lg {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    border-radius: 2.5rem;
}

.bg-color-1 a.btn:hover {
    background-color: var(--bg_1_font_color);
}
.bg-color-1 a.btn:hover > * {
    color: var(--color1);
}

.bg-color-2 a.btn:hover {
    background-color: var(--bg_2_font_color);
}
.bg-color-2 a.btn:hover > * {
    color: var(--color2);
}

a.btn:focus {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.4);
}

/* Cards */

.card {
    background-color: white;
    border: none;
    border-radius: 2rem;
    padding: 2rem;
}

@media only screen and (max-width: 575px) {
    .card {
        margin: 1rem auto;
        max-width: 400px;
    }
}

.card.card-no-bg {
    background: none;
    padding: 0rem;
}

.card-body {
    padding: 0;
}

.card-body > *:first-child {
    padding: 1rem 0;
}

.card p {
    font-size: 1rem;
}

.card * {
    text-align: center;
}
.card a.btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

/* Footer */

ul.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 576px) {
    .social-icons li:first-child a {
        padding-left: 0;
    }
}

.footer hr {
    margin: 2rem 0;
}

.footer h5,
.footer .footer-logo {
    margin-bottom: 0.3rem;
}

ul.footer-menu {
    list-style: none;
    padding-left: 0rem;
    margin: initial;
}
ul.footer-menu > li a {
    text-decoration: underline;
}
ul.footer-menu > li a:hover {
    text-decoration: none;
}

.footer > div > div:not(:last-child) {
    margin-bottom: 2rem;
}
